.backDrop {
  background: rgba(18, 20, 23, 0.50);
  width: 1440px;
  min-height: 1051px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDetail {
  width: 541px;
  border-radius: 24px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;

}

.buttonClose {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.image_test_big {
  border-radius: 14px;
  background: #F3F3F2;
}

.detailInfoAuto {
  margin: 0;
}

.detailCharakterAuto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 4px;
  margin-bottom: 14px;
}

.detailDescription {
  margin: 0;
  margin-bottom: 24px;
}

.headAccessories {
  margin: 0;
  margin-bottom: 8px;
}

.detailAccessFunctionalAuto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;
  gap: 4px;
}